
.input-container input{
    width:320px;
    height: 40px;
    border:none;
   border-bottom: 2px solid #dad6d6;
   font-family: Muli;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #6f6f6f;
}

.input-container2 input{
    width:1080px;
    height: 40px;
    border:none;
   border-bottom: 2px solid #dad6d6;
   font-family: Muli;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #6f6f6f;
}

.input-container3 input{
    width:1080px;
    height: 40px;
    border:none;
   font-family: Muli;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #6f6f6f;
}




.input-container i{
    padding:14px;
    color: #726f6f;
    font-size: 18px;
}


.input-container2 i{
    padding:14px;
    color: #726f6f;
    font-size: 18px;
}

.input-container3 i{
    padding:14px;
    color: #726f6f;
    font-size: 18px;
}